	* {
				margin: 0;
				padding: 0;
			}
			body{
				background-color: #f5f5f5;
			}
			button{
				min-width:200px;
			}

			.scrollup{
				width:40px;
				height:40px;
				opacity:0.3;
				position:fixed;
				bottom:50px;
				right:100px;
				display:none;
				text-indent:-9999px;
				/*background: url('img/icon_top.png') no-repeat;*/
			}
		
			
			.mbar{
				background-color: ;
			}
			 .mn{
			 	list-style-type:none;
			 	float:right;
			 	margin:78px 10px 0px ;
			 }
			.mn a{
				color:#e2c20f;
				text-decoration: italic;
			}
			 .mn a:hover{
			 	color:white;
			 	text-decoration: bold;
			 }
             
             .mn a:active{
                 color:black;
             }
			#mainnavbar,#forex, #gold, #api, #cont, #down{
				padding-left: 20px;
				display:inline;
				font-family:"Helvetica Neue","Helvetica", "comic sans ms" ,"lucida grande","lucida sans unicode",helvetica,sans-serif;
				font-size: 1.25em;
			
			}
		
			

			.container{
				width:1024px;
				

			}
			

			.hero-unit{
				margin:0px;
				padding:0px;
				margin-top: 30px;
				height:500px;
			}

			.row-fluid{
				margin-top: 15px ;
			}
			.para{
				font-family:"helvetica","san";
				padding:10px;
				height:400px;
				text-align:justify; text-indent:20px;
				color:black;
				font-size: small;
				vertical-align: middle;

			}  
			#chart_text{
				float:left;
				background-color: lightgray;
				margin:20px 0px 20px 20px;
			}

			.navbar{
				margin-bottom: 0px;
				padding:0px;
				height:30px;

			}
			.id{
				margin-bottom: 0px;

			}
			.dvg{
				height: 400px; border:1px solid black;
				 float:right;
				 margin:20px 20px 20px 0px;
			}
			.unit_comp{
				min-height: 400px; 
				;
				
				margin:20px 20px 3px 20px;
			}
			
			
			#map {
				width: 1024px;
				height: 500px
					/*padding:0;*/

			}

			#header{
				width:100%;
			}
			footer{
				
				
				position: fixed;
				bottom: 0px;
				width: 100%;
				
			}

			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}

			.legend {
				text-align: right;
				line-height: 18px;
				color: #555;
			}
			.legend i {
				width: 18px;
				height: 18px;
				float: right;
				margin-right: 8px;
				opacity: 0.7;
			}

			#fx_date{
	float: right;
				}
                #fx_current{
                    margin-top: 19px;
                }
                .fx_current{
					height: 500px;border:;
					
				}
				#fx_id{
					margin: 20px;
				}
				
				.fx_cont{
					height: 500px;

				}

                #footer{
                    
                    
                    background-color: #696969;
                    padding:10px;
                    margin-top:10px;
                    
                }
                
                
                #dwn_page{
                    height:530px;
                    
                    
                }
                
				#footer_p{
                    color:#e2c20f;
           }

				#fx_span3{
				border:solid black 1px;width:305px;
				}

				#fx_span8{
					float:left;

				}
				#history_gold{
				height: 500px;
				}

				#current_gold
				{height: 493px;margin-top: 40px;}
				#drop_down{
					float:right;
				}
				#g_span4{
					float:right;
                    margin-top: 40px;
				}

				#row_dn{
				padding:10px;
				 border:1px solid #a6a6a6;
                
                }
                .btn{
                    margin-top: 3px;
                    margin-bottom: 3px;
                    
                    
                }

				#dn_span6{
					border:1px solid #a6a6a6;
                    width:500px;
                   
				}
				#tb_dn{
					border:0px;padding:10px;
				}
				#img_abt{
					width:177px;height:180px;
				}

				#euro,#pound{margin-top: 3px;margin-bottom: 3px}

				#abt_p{margin:10px;padding:10px;text-align: justify;font-family: verdana;font-size: small;}

				#l-pd{padding-left: 10px }

				h1, h2, h3, h4, h5, h6 {
					font-family: "raleway",helvetica,Arial;
					}


					@media (max-width: 240px){
				p,.container,.row-fluid,.btn,.span12,
				.span8,.span4,#map
				#unit,.hero-unit
				#us_gold_stock{
					width:100%;
					margin:0px;
					padding:0px;
				}


			}
			@media (max-width: 320px){
				.container,.span12,
				.span8,.span4,#map
				#unit,.row-fluid,.btn,.hero-unit
				#us_gold_stock,#unit_comp,#lst_btn,.dvg,.para,#chartext{
					width:100%;
					padding: 0px;
					margin: 0px;
				}

			}
			@media (max-width: 480px){
				.container,.span12,
				.span8,.span4,#map
				#unit,.row-fluid,.btn,.hero-unit
				#us_gold_stock,#unit_comp,#lst_btn,.dvg,.para,#chartext{
					width:100%;
					padding: 0px;
					margin: 0px;
					height:auto;
				}




			}
			
			@media (max-width: 768px){
				.container,.span12,
				.span8,.span4,#map
				#unit,.row-fluid,.btn,.hero-unit
				#us_gold_stock,#unit_comp,#lst_btn,.dvg,.para,#chartext{
					width:100%;
					padding: 0px;
					margin: 0px;
					height:auto;
				}


			}

			hr {
				border:1px solid #a6a6a6;
			}
            
            
            #forex_p{
                padding:10px;
            }
            
            
            #gold_p{
                padding: 10px;
            }